.seasons{
    margin-top: auto;
}

.seasons-container{
    background: var(--color-bg1);
    padding: 4rem;
    display: list-item;
    gap: 2rem;
    height: 100%;
    align-items: center;
    margin: 2rem auto;
    border-radius: 3rem;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40rem;
    margin-bottom: 1rem;
}
