.seasons{
    margin-top: auto;
    margin-bottom: 7rem ;
}

.seasons-container{
    background: var(--color-bg1);
    padding: 4rem;
    display: list-item;
    gap: 4rem;
    height: 25rem;
    margin: 7rem auto;
    border-radius: 5rem;
}

.about_achievements-container{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4rem;
}

.seasons_aside{
    background: var(--color-primary);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}

.aside_image{
    width: 15rem;
    margin-bottom: 1rem;
}